<div class="container">
  <div class="row">
    <div class="col">
      <h1>Eventos</h1>
      <directivasDos-eventos></directivasDos-eventos>
    </div>
    <div class="col">
      <h1>Directiva IF</h1>
      <directivasDos-directivaif></directivasDos-directivaif>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Directiva Switch</h2>
      <directivasDos-directivas-switch></directivasDos-directivas-switch>
    </div>
    <div class="col">
      <h2>Directiva For</h2>
      <directivasDos-directivafor></directivasDos-directivafor>
    </div>
  </div>
</div>
