<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="navegarBuscador()">Buscador</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Vehiculos
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="navegarVehiculos('deportivo')">Deportivos</a></li>
          <li><a class="dropdown-item" (click)="navegarVehiculos('utilitario')">Utilitarios</a></li>
        </ul>
      </li>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

