<div class="row">
  <div class="col" *ngFor="let item of asignaturas">
    <div class="card" style="width: 18rem">
      <img [src]="item.imagen" class="card-img-top" [alt]="item.siglas" />
      <div class="card-body">
        <h5 class="card-title">{{ item.nombre }}</h5>
        <p class="card-text">
          {{ item.siglas }} <br />
          {{ item.curso }} <br />
          {{ item.ciclo }} <br />
        </p>
        <ul>
          <li *ngFor="let cono of item.conocimientos">{{ cono }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<p>{{ dato }}</p>
